<h3>{{board.Description}}</h3>
<table class="table table-striped table-bordered table-hover">
 <thead>
  <tr>
   <td style="width:70%">Topic Name</td>
   <td>Author Name</td>
   <td style="text-align:right">Posts</td>
  </tr>
 </thead>
 <tbody>
  {{#each board.Topics}}
  <tr>
   <td style="width:70%">
    <a href="/Topic/{{this.Serial}}">{{this.Subject}}</a>
   </td>
   <td>
    <a href="/User/{{this.UserSerial}}">{{this.Username}}</a>
   </td>
   <td style="text-align:right">{{this.PostCount}}</td>
  </tr>
  {{/each}}
 </tbody>
</table>

